body {
    background-color: skyblue;
    font-family: sans-serif;
}
.page {
    background-color: snow;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 50%;
    border-radius: 5px;
}
.header {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
}


#content_img {
    width: 100%;
}

.messages h3 * {
    font-size: xx-large;
}

.messages *{
    font-size: medium;
}
.main_content {
    max-width: 60%;
    display: flex;
    flex-direction: row;
    padding: 3vw;
    text-align: justify;
    justify-content: space-between;
}

.outer_box {
    background-color: #fdd761;
    padding: 10px 25px 10px 25px;
}

.inner_box {
    background-color: tomato;
    padding: 10px 15px 10px 15px;
    color: white;
    font-size: large;
}

.useful_links {
    margin-left: 1vw;
    margin-right: -14vw;
}

.footer {
    text-align: center;
    padding: 15px;
}

